/* PÁGINA SOBRE NÓS */
.about-page {
  padding: 48px 16px;
  max-width: 900px;
  margin: 0 auto;

  color: #182b4a;
}

/* TÍTULO */
.about-page h1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}

.about-page h1 span {
  color: #182b4a;
}

/* TEXTO */
.about-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
  color: #182b4a;
}

/* IMAGEM */
.about-image {
  margin: 32px 0;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
