* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #182b4a;
}
#logo{
  width: 40vw;
  max-width: 280px;
  height: auto;

}
#borda-superior{
    background-color: #a09f9d;
    width: 100%;
    padding: 16px 0;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}   
.menu-btn{
    font-size: 32px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 999;
}
.menu li{
    margin: 16px 0;
}
.menu a{
    text-decoration: none;
    color: #182b4a;
    font-size: 18px;
}
.menu.ativo{
    display: block;
    background-color: #ffffff;
    height: 100%;
}
.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;

    width: 70%;
    max-width: 300px;
    height: 100vh;

    background-color: #ffffff;

    list-style: none;
    padding: 80px 24px;
}